#!ipxe

goto ${menu} ||

:live_menu
set os 4MLinux
menu ${os} - Current Arch [ ${arch} ]
iseq ${arch} x86_64 && set arch_a amd64 || set arch_a ${arch}
item --gap ${os} Versions
{% for key, value in endpoints.items() | sort %}
{% if value.os == "4mlinux" %}
item {{ value.version }}-{{ value.flavor }} ${space} ${os} {{ value.version }} {{ value.flavor }}
{% endif %}
{% endfor %}
choose version || goto exit
goto ${version}


{% for key, value in endpoints.items() | sort %}
{% if value.os == "4mlinux" %}
:{{ value.version }}-{{ value.flavor }}
set url ${live_endpoint}{{ value.path }}
goto boot

{% endif %}
{% endfor %}

:boot
imgfree
kernel ${url}vmlinuz root=/dev/ram0 vga=normal initrd=initrd
initrd ${url}initrd
boot

:live_exit
clear menu
exit 0
