#!ipxe
set esc:hex 1b
set bold ${esc:string}[1m
set ital ${esc:string}[3m
set under ${esc:string}[4m
set boldoff ${esc:string}[22m
set italoff ${esc:string}[23m
set underoff ${esc:string}[24m
set fs_bla ${esc:string}[30m
set fg_red ${esc:string}[31m
set fg_gre ${esc:string}[32m
set fg_yel ${esc:string}[33m
set fg_blu ${esc:string}[34m
set fg_mag ${esc:string}[35m
set fg_cya ${esc:string}[36m
set fg_whi ${esc:string}[37m

:netabout
menu ${fg_cya}${bold}About netboot.xyz (Version: ${version})
item exit ${bold}Exit back to main menu...${boldoff}
item --gap --  ${fg_whi}${bold}--Thanks------------------------------------------------------------------
item about ${fg_gre}${bold}Thanks for your support and let us know how we can improve!
item --gap --  ${fg_whi}${bold}--X-----------------------------------------------------------------------
item about ${fg_cya}${bold}Follow us on X: ${fg_whi}${bold}@netbootxyz
item --gap --  ${fg_whi}${bold}--Discord-----------------------------------------------------------------
item about ${fg_mag}${bold}Join us on Discord: ${fg_whi}${bold}https://discord.gg/An6PA2a
item --gap --  ${fg_whi}${bold}--Sponsorship-------------------------------------------------------------
item about ${fg_gre}${bold}Open Collective: ${fg_whi}${bold}https://opencollective.com/netbootxyz
item about ${fg_gre}${bold}Github Sponsors: ${fg_whi}${bold}https://github.com/sponsors/netbootxyz
item --gap --  ${fg_whi}${bold}--Merch-------------------------------------------------------------------
item about ${fg_gre}${bold}netboot.xyz store: ${fg_whi}${bold}https://store.netboot.xyz
item --gap --  ${fg_whi}${bold}-----------------------------------------------------------------
isset ${upstream_version} && goto display_version || goto skip_version
:display_version
iseq ${version} ${upstream_version} || item --gap --  ${fg_gre}${bold}Latest netboot.xyz version available: ${fg_whi}${bold}${upstream_version}
item --gap --  ${fg_whi}${bold}-----------------------------------------------------------------
:skip_version
choose selected || goto exit
goto ${selected}

:about
clear menu
goto netabout

:exit
clear menu
exit

