#!ipxe

# BlackArch Linux Operating System
# https://blackarch.org/

goto ${menu}

:blackarch
set os {{ releases.blackarch.name }}
set ipparam BOOTIF=${netX/mac} ip=dhcp net.ifnames=0
menu ${os} Installers
item --gap The Default login is root/blackarch
item --gap Run blackarch-install once logged in
{% for item in releases.blackarch.versions %}
item {{ item.code_name }} ${space} ${os} {{ item.name }}
{% endfor %}
choose blackarch_version || goto blackarch_exit
goto blackarch_boot

:blackarch_boot
imgfree
set url ${live_endpoint}{{ endpoints['blackarch-installer'].path }}
kernel ${url}vmlinuz archisobasedir=blackarch ${ipparam} archiso_http_srv=${url} initrd=initrd
initrd ${url}initrd
boot
goto blackarch_exit

:blackarch_exit
clear menu
exit 0
