#!ipxe

# FreeBSD Operating System
# http://www.freebsd.org

:freebsd_menu
set os {{ releases.freebsd.name }}
menu ${os}
{% for item in releases.freebsd.versions %}
item {{ item.code_name }} ${space} ${os} {{ item.name }}
{% endfor %}
choose ver || goto freebsd_exit

{% for item in releases.freebsd.versions %}
iseq ${ver} {{ item.code_name }} && set image_ver {{ item.code_name }}-RELEASE ||
{% endfor %}

iseq ${arch} x86_64 && goto freebsd_x64 ||
set freebsd_arch i386
goto boot_freebsd

:freebsd_x64
set freebsd_arch amd64
goto boot_freebsd

:boot_freebsd
{% for item in releases.freebsd.versions %}
iseq ${ver} {{ item.code_name }} && set image_subdir {{ item.image_subdir }}/${freebsd_arch} ||
{% endfor %}
set src https://mfsbsd.vx.sk/files/images/${image_subdir}/mfsbsd-${image_ver}-${freebsd_arch}.img
imgfree
echo This loads an mfsbsd installer (http://mfsbsd.vx.sk/).
echo Root password for all images: mfsroot
echo You'll need to configure networking manually for the installer disk as
echo it uses dhcp by default:
echo ifconfig xn0 inet <public ip> netmask 255.255.255.0
echo route delete default; route add default <public ip x.x.x.1>
echo echo "nameserver x.x.x.x" > /etc/resolv.conf
echo Once network is configured, you can launch the usual installer:
echo bsdinstall
initrd ${src}
chain ${memdisk} harddisk raw
exit

:freebsd_exit
clear menu
exit 0
