#!ipxe

# FreeBSD Operating System
# http://www.freebsd.org

:freebsd_menu
set os {{ releases.freebsd.name }}
menu ${os}
{% for key, value in endpoints.items() | sort %}
{% if value.os == "freebsd" %}
item {{ value.path }} ${space} ${os} {{ value.version }}
{% endif %}
{% endfor %}
choose ver || goto freebsd_exit
goto type_select

:type_select
menu ${os}
item default.img ${space} Default
item special-edition.img ${space} Special Edition
choose type || goto freebsd_exit
goto boot_freebsd

:boot_freebsd
imgfree
echo This loads an mfsbsd installer (http://mfsbsd.vx.sk/).
echo Root password for all images: mfsroot
echo You'll need to configure networking manually for the installer disk as
echo it uses dhcp by default:
echo ifconfig xn0 inet <public ip> netmask 255.255.255.0
echo route delete default; route add default <public ip x.x.x.1>
echo echo "nameserver x.x.x.x" > /etc/resolv.conf
echo Once network is configured, you can launch the usual installer:
echo bsdinstall
initrd ${live_endpoint}${ver}${type}
chain ${memdisk} harddisk raw
exit

:freebsd_exit
clear menu
exit 0
