#!ipxe

# Gentoo Operating System
# http://www.gentoo.org

:gentoo
set os {{ releases.gentoo.name }}
menu ${os} - Current Arch [ ${arch} ]
iseq ${arch} x86_64 && set arch_a amd64 || set arch_a ${arch}
item --gap Currently during boot you need to press ctrl+d/ctrl+c
item --gap repeatedly when init hangs on starting a download
item --gap ${os} Versions
{% for key, value in endpoints.items() | sort %}
{% if value.os == "gentoo" %}
item {{ value.version }} ${space} ${os} {{ value.version }}
{% endif %}
{% endfor %}
choose gentoo_version || goto gentoo_exit
goto ${gentoo_version}

{% for key, value in endpoints.items() | sort %}
{% if value.os == "gentoo" %}
:{{ value.version }}
set url ${live_endpoint}{{ value.path }}
goto boot

{% endif %}
{% endfor %}

:boot
imgfree
kernel ${url}vmlinuz ip=dhcp root=/dev/ram0 init=/linuxrc loop=/image.squashfs looptype=squashfs cdroot=1 real_root=/ fetch=${url}image.squashfs initrd=initrd ${cmdline}
initrd ${url}initrd
boot

:gentoo_exit
clear menu
exit 0
