#!ipxe

goto ${menu} ||

:live_menu
set os Kaspersky Rescue Disk
menu ${os} - Current Arch [ ${arch} ]
iseq ${arch} x86_64 && set arch_a amd64 || set arch_a ${arch}
item --gap ${os} Versions
{% for key, value in endpoints.items() | sort %}
{% if value.os == "kaspersky" %}
item {{ value.version }} ${space} ${os} {{ value.version }}
{% endif %}
{% endfor %}
choose live_version || goto live_exit
goto ${live_version}


{% for key, value in endpoints.items() | sort %}
{% if value.os == "kaspersky" %}
:{{ value.version }}
set url ${live_endpoint}{{ value.path }}
goto boot

{% endif %}
{% endfor %}

:boot
imgfree
kernel ${url}vmlinuz netboot=${url} loadsrm=000-core.srm,001-xorg.srm,002-xfce.srm,003-kl.srm,004-krt.srm,005-bases.srm,008-firefox.srm net.ifnames=0 dodhcp dostartx initrd=initrd.xz initrd=initrd
initrd ${url}initrd.xz
initrd ${url}initrd
boot

:live_exit
clear menu
exit 0
