#!ipxe

goto ${menu} ||

:live_menu
menu Manjaro Live - Current Arch [ ${arch} ]
item --gap Currently during boot you need to press ctrl+d/ctrl+c
item --gap repeatedly when init hangs on starting a download
iseq ${arch} x86_64 && set arch_a amd64 || set arch_a ${arch}
set ipparam BOOTIF=${netX/mac} ip=dhcp net.ifnames=0
item --gap Manjaro Live
{% for key, value in endpoints.items() | sort %}
{% if value.os == "manjaro" and 'squash' in key %}
item {{ key }} ${space} {{ value.os | title }} {{ value.version }} {{ value.flavor | title}}
{% endif %}
{% endfor %}
choose menu || goto live_exit
echo ${cls}
goto ${menu} ||
iseq ${sigs_enabled} true && goto verify_sigs || goto change_menu

{% for key, value in endpoints.items() | sort %}
{% if value.os == "manjaro" and 'squash' in key %}
{% set kernel_name = value.kernel %}
:{{ key }}
imgfree
set fetch_url ${live_endpoint}{{ value.path }}
{% for key, value in endpoints.items() | sort %}
{% if key == kernel_name %}
kernel ${live_endpoint}{{ value.path }}vmlinuz misobasedir=manjaro ${ipparam} miso_http_srv=${fetch_url} nouveau.modeset=1 i915.modeset=1 radeon.modeset=1 driver=free tz=UTC lang=en_US keytable=us systemdshow_status=1 apparmor=1 security=apparmor
initrd ${live_endpoint}{{ value.path }}initrd
boot
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}

:change_menu
chain ${menu}.ipxe || goto error
goto live_menu

:live_exit
clear menu
exit 0

