#!ipxe

goto ${menu} ||

:live_menu
set os Velt
menu ${os} - Current Arch [ ${arch} ]
iseq ${arch} x86_64 && set arch_a amd64 || set arch_a ${arch}
set ipparam BOOTIF=${netX/mac} ip=dhcp net.ifnames=0
item --gap ${os} Versions
{% for key, value in endpoints.items() | sort %}
{% if value.os == "velt" %}
item {{ value.version }} ${space} ${os} {{ value.version }}
{% endif %}
{% endfor %}
choose live_version || goto live_exit
goto ${live_version}


{% for key, value in endpoints.items() | sort %}
{% if value.os == "velt" %}
:{{ value.version }}
set url ${live_endpoint}{{ value.path }}
goto boot

{% endif %}
{% endfor %}

:boot
imgfree
kernel ${url}vmlinuz archisobasedir=arch ${ipparam} archiso_http_srv=${url} initrd=initrd ${cmdline}
initrd ${url}initrd
boot

:live_exit
clear menu
exit 0
