#!ipxe

goto ${menu} ||

:live_menu
set os Linux Lite
menu ${os}
item --gap Use the username linuxlite with a blank password
item --gap ${os} Versions
item 5 ${space} ${os} 6
choose live_version || goto live_exit
goto ${live_version}

:6
set squash_url ${live_endpoint}{{ endpoints["linux-lite-5-squash"].path }}filesystem.squashfs
set kernel_url ${live_endpoint}{{ endpoints["linux-lite-5-squash"].path }}
goto boot-6

:boot-6
kernel ${kernel_url}vmlinuz ip=dhcp boot=casper netboot=url url=${squash_url} username=linuxlite userfullname=linuxlite {{ kernel_params }}
initrd ${kernel_url}initrd
boot

:live_exit
clear menu
exit 0
