#!ipxe

goto ${menu} ||

:live_menu
set os Bodhi
menu ${os} - Current Arch [ ${arch} ]
iseq ${arch} x86_64 && set arch_a amd64 || set arch_a ${arch}
item --gap ${os} Versions
{% for key, value in endpoints.items() | sort %}
{% if value.os == "bodhi" and value.version == "6" %}
item {{ value.version }}-{{ value.flavor }} ${space} ${os} {{ value.version }} {{ value.flavor }}
{% endif %}
{% endfor %}
{% for key, value in endpoints.items() | sort %}
{% if value.os == "bodhi" and value.version == "5" %}
item {{ value.version }}-{{ value.flavor }} ${space} ${os} {{ value.version }} {{ value.flavor }}
{% endif %}
{% endfor %}
choose live_version || goto live_exit
goto ${live_version}


{% for key, value in endpoints.items() | sort %}
{% if value.os == "bodhi" %}
:{{ value.version }}-{{ value.flavor }}
set squash_url ${live_endpoint}{{ value.path }}filesystem.squashfs
set kernel_url ${live_endpoint}{{ value.path }}
goto boot-{{ value.version }}

{% endif %}
{% endfor %}

:boot-5
imgfree
kernel ${kernel_url}vmlinuz ip=dhcp boot=casper netboot=http fetch=${squash_url} initrd=initrd ${cmdline}
initrd ${kernel_url}initrd
boot

:boot-6
imgfree
kernel ${kernel_url}vmlinuz ip=dhcp boot=casper netboot=url url=${squash_url} initrd=initrd ${cmdline}
initrd ${kernel_url}initrd
boot

:live_exit
clear menu
exit 0
