#!ipxe

menu Network info
item --gap MAC:
item mac ${space} ${netX/mac}
item --gap IP/mask:
item ip ${space} ${netX/ip}/${netX/netmask}
item --gap Gateway:
item gw ${space} ${netX/gateway}
item --gap Domain:
item domain ${space} ${netX/domain}
item --gap DNS:
item dns ${space} ${netX/dns}
item --gap DHCP server:
item dhcpserver ${space} ${netX/dhcp-server}
item --gap Next-server:
item nextserver ${space} ${next-server}
isset ${proxydhcp/next-server} && item --gap DHCP proxy next-server: ||
isset ${proxydhcp/next-server} && item proxy-nextserver ${space} ${proxydhcp/next-server} ||
isset ${proxydhcp/next-server} && item --gap Booted from DHCP proxy next-server: ||
isset ${proxydhcp/next-server} && iseq ${proxydhcp/next-server} ${tftp-server} && item bootproxy ${space} Yes ||
item --gap Filename:
isset ${proxydhcp/next-server} && item filename ${space} ${proxydhcp/filename} || item filename ${space} ${netX/filename}
choose empty ||
exit
