#!ipxe

menu Network info
item --gap MAC:
item mac ${space} ${netX/mac}
item --gap IP/mask:
item ip ${space} ${netX/ip}/${netX/netmask}
item --gap Gateway:
item gw ${space} ${netX/gateway}
item --gap Domain:
item domain ${space} ${netX/domain}
item --gap DNS:
item dns ${space} ${netX/dns}
item --gap DHCP server:
item dhcpserver ${space} ${netX/dhcp-server}
item --gap Next-server:
item nextserver ${space} ${next-server}
item --gap Filename:
item filename ${space} ${netX/filename}

# Proxy DHCP info
item --gap DHCP proxy present
isset ${proxydhcp/next-server} && item proxy ${space} Yes || item proxy ${space} No
item --gap DHCP proxy next-server
item proxy-nextserver ${space} ${proxydhcp/next-server}
item --gap Using DHCP proxy next-server
iseq ${proxydhcp/next-server} ${tftp-server} && echo Yes || echo No (Using default next-server ${tftp-server})

choose empty ||
exit
