#!ipxe

# NixOS
# https://nixos.org/

set os {{ releases.nixos.name }}
menu ${os}
item --gap Official Releases
{% for key, value in endpoints.items() | sort %}
{% if value.os == "nixos" %}
item {{ value.version }} ${space} ${os} {{ value.version }}
{% endif %}
{% endfor %}
choose version || goto nixos_exit

{% for key, value in endpoints.items() | sort %}
{% if value.os == "nixos" %}
iseq ${version} {{ value.version }} && set link ${live_endpoint}{{ value.path }}netboot.ipxe ||
{% endif %}
{% endfor %}
imgfree
chain ${link}
goto nixos_exit

:nixos_exit
clear menu
exit 0
