#!ipxe

isset ${dhcp-server} && set ipparam ip=dhcp || set ipparam ip=${ip}::${gateway}:${netmask}:::none nameserver=${dns}
set ipparam BOOTIF=${netX/mac} ${ipparam}

goto ${menu} ||

:oracle_menu
set os Oracle Linux
menu ${os}
set os_arch ${arch}
iseq ${os_arch} x86_64 && set os_arch x86_64 ||
iseq ${os_arch} arm64 && set os_arch aarch64 ||
item --gap ${os} Versions
{% set defined_versions = {} %}
{% for key, value in endpoints.items() | sort %}
{% if value.os == "oracle" %}
{% if value.version not in defined_versions %}
{% set _ = defined_versions.update({value.version: []}) %}
{% endif %}
{% set _ = defined_versions[value.version].append(value.arch) %}
{% endif %}
{% endfor %}
{% for version, archs in defined_versions.items() | sort %}
{% if archs | length > 1 %}
item {{ version }} ${space} ${os} {{ version }}
{% else %}
iseq ${os_arch} {{ archs[0] }} && item {{ version }} ${space} ${os} {{ version }} ||
{% endif %}
{% endfor %}
choose version || goto oracle_exit
goto ${version}

{% for version, archs in defined_versions.items() | sort %}
:{{ version }}
{% for arch in archs %}
iseq ${os_arch} {{ arch }} && goto {{ version }}_{{ arch }} ||
{% endfor %}
goto oracle_exit

{% endfor %}
{% for key, value in endpoints.items() | sort %}
{% if value.os == "oracle" %}
:{{ value.version }}_{{ value.arch }}
set url ${live_endpoint}{{ value.path }}
set repo {{ releases.oracle.mirror }}{{ releases.oracle.paths[value.version|int] }}/${os_arch}
goto boot

{% endif %}
{% endfor %}

:boot
imgfree
kernel ${url}vmlinuz ${ipparam} inst.repo=${repo} root=live:${url}squashfs.img ro rd.live.image rd.lvm=0 rd.luks=0 rd.md=0 rd.dm=0 {{ kernel_params }}
initrd ${url}initrd
boot

:oracle_exit
clear menu
exit 0

