#!ipxe

# Proxmox Open Source Products
# https://www.proxmox.com

goto ${menu} ||

:proxmox
clear proxmox_version
clear pve_version
clear pbs_version
set os Proxmox
menu ${os}
{% for key, value in endpoints.items() | sort %}
{% if value.os == "proxmox-backup-server" %}
item --gap ${os} Backup Server
item pbs-normal ${space} ${os} Backup Server {{ value.version }}
item pbs-debug ${space} ${os} Backup Server {{ value.version }} (Debug)
{% endif %}
{% if value.os == "proxmox-ve" %}
item --gap ${os} VE
item pve-normal ${space} ${os} VE {{ value.version }}
item pve-debug ${space} ${os} VE {{ value.version }} (Debug)
{% endif %}
{% endfor %}
choose proxmox_version || goto proxmox_exit
goto ${proxmox_version}

:pve-normal
set params splash=silent
goto boot-pve

:pve-debug
set params splash=verbose proxdebug
goto boot-pve

:pbs-normal
set params splash=silent
goto boot-pbs

:pbs-debug
set params splash=verbose proxdebug
goto boot-pbs

:boot-pve
{% for key, value in endpoints.items() | sort %}
{% if value.os == "proxmox-ve" %}
set kernel_url ${live_endpoint}{{ value.path }}
set pve_version {{ value.version }}
{% endif %}
{% endfor %}
imgfree
kernel ${kernel_url}vmlinuz vga=791 video=vesafb:ywrap,mtrr ramdisk_size=16777216 rw quiet ${params} {{ kernel_params }}
initrd ${kernel_url}initrd
initrd http://download.proxmox.com/iso/proxmox-ve_${pve_version}.iso /proxmox.iso
boot

:boot-pbs
{% for key, value in endpoints.items() | sort %}
{% if value.os == "proxmox-backup-server" %}
set kernel_url ${live_endpoint}{{ value.path }}
set pbs_version {{ value.version }}
{% endif %}
{% endfor %}
imgfree
kernel ${kernel_url}vmlinuz vga=791 video=vesafb:ywrap,mtrr ramdisk_size=16777216 rw quiet ${params} {{ kernel_params }}
initrd ${kernel_url}initrd
initrd http://download.proxmox.com/iso/proxmox-backup-server_${pbs_version}.iso /proxmox.iso
boot

:proxmox_exit
clear menu
exit 0
