#!ipxe

# Rescuezilla Disk imaging
# https://rescuezilla.com/

:rescuezilla
set os {{ utilitiesefi.rescuezilla.name }}
menu ${os} Live CD
{% for key, value in endpoints.items() | sort %}
{% if value.os == "rescuezilla" %}
item {{ value.os }}_{{ value.version }} ${space} ${os} {{ value.version }}
{% endif %}
{% endfor %}
choose rescuezilla_version || goto rescuezilla_exit
goto ${rescuezilla_version}

{% for key, value in endpoints.items() | sort %}
{% if value.os == "rescuezilla" %}
:{{ value.os }}_{{ value.version }}
set kernel_url ${live_endpoint}{{ value.path }}
imgfree
kernel ${kernel_url}vmlinuz ip=dhcp boot=casper netboot=url url=${kernel_url}filesystem.squashfs initrd=initrd ${cmdline}
initrd ${kernel_url}initrd
boot
{% endif %}
{% endfor %}

:rescuezilla_exit
clear menu
exit 0
