#!ipxe

goto ${menu} ||

:live_menu
set os System Rescue
set os_arch ${arch}
isset ${rootpass_enabled} || set rootpass_enabled false
set rootpass ${mac:hexraw}
iseq ${os_arch} x86_64 && set os_arch amd64 ||
iseq ${os_arch} i386 && set os_arch i686 ||
menu ${os}
set ipparam BOOTIF=${netX/mac} ip=dhcp net.ifnames=0
item --gap ${os} Versions
{% for key, value in endpoints.items() | sort %}
{% if value.os == "systemrescue" %}
iseq ${os_arch} {{ value.arch }} && item {{ value.version }}_${os_arch} ${space} ${os} {{ value.version }} ||
{% endif %}
{% endfor %}
item rootpass_mac Enable rootpass=${rootpass} [IP:${ip}] [ enabled: ${rootpass_enabled} ]
choose live_version || goto live_exit
goto ${live_version}

{% for key, value in endpoints.items() | sort %}
{% if value.os == "systemrescue" %}
:{{ value.version }}_{{ value.arch }}
set url ${live_endpoint}{{ value.path }}
goto boot

{% endif %}
{% endfor %}

:rootpass_mac
clear params
iseq ${rootpass_enabled} true && set rootpass_enabled false || set rootpass_enabled true && set params rootpass=${rootpass} nofirewall
goto live_menu

:boot
imgfree
kernel ${url}vmlinuz archisobasedir=sysresccd ${ipparam} archiso_http_srv=${url} ${params} {{ kernel_params }}
initrd ${url}initrd
initrd ${url}archiso_pxe_http /hooks/archiso_pxe_http mode=755
boot

:live_exit
clear menu
exit 0
