#!ipxe

:start
set version {{ loader_version }}
echo {{ domain_name }} iPXE loader v${version}
goto static

:static
echo Please enter in the networking information of your Server:
imgfree
ifclose net0
echo -n IP: && read net0/ip
echo -n Subnet mask: && read net0/netmask
echo -n Gateway: && read net0/gateway
echo -n DNS: && read dns
ifopen net0
echo Attempting chainload of {{ domain_name }}...
goto menu || goto failsafe

:menu
chain --autofree http://{{ domain_name }}/menu.ipxe
goto boot

:failsafe
echo Attempt to load {{ domain_name }} failed... restarting...
goto start

:boot
sanboot --no-describe --drive 0x80

:debug
echo Type "exit" to return to menu
shell
goto start
