#!ipxe
####       {{ boot_domain }} initial loader        ####
#### see https://netboot.xyz for more information ####
{% if bootloader_https_enabled | bool %}
set conn_type https
chain --autofree https://{{ boot_domain }}/menu.ipxe || echo HTTPS failed... attempting HTTP...
{% endif %}
{% if bootloader_http_enabled | bool %}
set conn_type http
chain --autofree http://{{ boot_domain }}/menu.ipxe || echo HTTP failed, localbooting...
{% endif %}
exit

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ site_name }} BootLoaders - Powered by netboot.xyz</title>
  </head>
  <style>
    table, th, td {
    padding: 5px;
    border: 1px solid black; 
    }
  </style>
  <body>
  <div style="font-family: monospace, fixed; font-weight: bold;">
  {% if index_title.stdout is defined %}
  {{ index_title.stdout }}
  {% else %}
  <h1>{{ site_name }}</h1>
  {% endif %}
  <p>
  Version: {{ boot_version }}<br>
  Powered by <a href=https://netboot.xyz>netboot.xyz</a>
  </p>

{% if generate_disks_hybrid == true %}
  <p>Hybrid iPXE Bootloaders - Legacy and EFI Combined</p>
  <table style="width:100%">
    <!-- table header -->
    <tr>
       <th> Type </th>
       <th> Bootloader </th>
       <th> Description </th>
    </tr>
    <!-- table rows -->
    {% for item in bootloaders.hybrid %}
    <tr>
       <td> {{ item.type }} </td>
       <td> <a href="ipxe/{{ site_name }}{{ item.output_bin }}">{{ site_name }}{{ item.output_bin }}</a> </td>
       <td> {{ item.desc }} </td>
    </tr>
    {% endfor %}
  </table>
{% endif %}

{% if generate_disks_legacy == true %}
  <p>Legacy (PCBIOS) iPXE Bootloaders</p>
  <table style="width:100%">
    <!-- table header -->
    <tr>
       <th> Type </th>
       <th> Bootloader </th>
       <th> Description </th>
    </tr>
    <!-- table rows -->
    {% for item in bootloaders.legacy %}
    <tr>
       <td> {{ item.type }} </td>
       <td> <a href="ipxe/{{ site_name }}{{ item.output_bin }}">{{ site_name }}{{ item.output_bin }}</a> </td>
       <td> {{ item.desc }} </td>
    </tr>
    {% endfor %}
  </table>
{% endif %}

{% if generate_disks_efi == true %}
  <p>UEFI iPXE Bootloaders</p>

  <table style="width:100%">
    <!-- table header -->
    <tr>
       <th> Type </th>
       <th> Bootloader </th>
       <th> Description </th>
    </tr>
    <!-- table rows -->
    {% for item in bootloaders.uefi %}
    <tr>
       <td> {{ item.type }} </td>
       <td> <a href="ipxe/{{ site_name }}{{ item.output_bin }}">{{ site_name }}{{ item.output_bin }}</a> </td>
       <td> {{ item.desc }} </td>
    </tr>
    {% endfor %}
  </table>
{% endif %}

{% if generate_disks_arm == true %}
  <p>ARM64 iPXE Bootloaders - Experimental</p>

  <table style="width:100%">
    <!-- table header -->
    <tr>
       <th> Type </th>
       <th> Bootloader </th>
       <th> Description </th>
    </tr>
    <!-- table rows -->
    {% for item in bootloaders.arm %}
    <tr>
       <td> {{ item.type }} </td>
       <td> <a href="ipxe/{{ site_name }}{{ item.output_bin }}">{{ site_name }}{{ item.output_bin }}</a> </td>
       <td> {{ item.desc }} </td>
    </tr>
    {% endfor %}
  </table>
{% endif %}

{% if generate_disks_rpi == true %}
  <p>Raspberry Pi iPXE Bootloaders - Experimental</p>

  <table style="width:100%">
    <!-- table header -->
    <tr>
       <th> Type </th>
       <th> Bootloader </th>
       <th> Description </th>
    </tr>
    <!-- table rows -->
    {% for item in bootloaders.rpi %}
    <tr>
       <td> {{ item.type }} </td>
       <td> <a href="ipxe/{{ site_name }}{{ item.output_bin }}">{{ site_name }}{{ item.output_bin }}</a> </td>
       <td> {{ item.desc }} </td>
    </tr>
    {% endfor %}
  </table>
{% endif %}

  <p>Checksums<p>

  <a href="ipxe/{{ site_name }}-sha256-checksums.txt">SHA256 checksums</a>
  </div>
  </body>
</html>
