<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ site_name }} BootLoaders - Powered by netboot.xyz</title>
  </head>
  <style>
    table, th, td {
    padding: 5px;
    border: 1px solid black; 
    }
  </style>
  <body>
  <div style="font-family: monospace, fixed; font-weight: bold;">
  <span style="">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;_&#160;&#160;&#160;_&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;_&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><br />
  <span style="">&#160;_&#160;__&#160;&#160;&#160;___|&#160;|_|&#160;|__&#160;&#160;&#160;___&#160;&#160;&#160;___&#160;|&#160;|_&#160;&#160;__&#160;&#160;___&#160;&#160;&#160;_&#160;____</span><br />
  <span style="">|&#160;&#39;_&#160;\&#160;/&#160;_&#160;\&#160;__|&#160;&#39;_&#160;\&#160;/&#160;_&#160;\&#160;/&#160;_&#160;\|&#160;__|&#160;\&#160;\/&#160;/&#160;|&#160;|&#160;|_&#160;&#160;/</span><br />
  <span style="">|&#160;|&#160;|&#160;|&#160;&#160;__/&#160;|_|&#160;|_)&#160;|&#160;(_)&#160;|&#160;(_)&#160;|&#160;|_&#160;_&#160;&gt;&#160;&#160;&lt;|&#160;|_|&#160;|/&#160;/&#160;</span><br />
  <span style="">|_|&#160;|_|\___|\__|_.__/&#160;\___/&#160;\___/&#160;\__(_)_/\_\\__,&#160;/___|</span><br />
  <span style="">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;|___/&#160;&#160;&#160;&#160;&#160;</span><br />
  <p>
  Version: {{ boot_version }}<br>
  Powered by <a href=https://netboot.xyz>netboot.xyz</a>
  </p>
  <p>Legacy (PCBIOS) iPXE Bootloaders</p>
  <table style="width:100%">
    <!-- table header -->
    <tr>
       <th> Type </th>
       <th> Bootloader </th>
       <th> Description </th>
    </tr>
    <!-- table rows -->
    {% for bootloader_name in bootloader_disks %}
    {% for item in bootloaders.legacy %}
    <tr>
       <td> {{ item.type }} </td>
       <td> <a href="ipxe/{{ bootloader_name }}{{ item.output_bin }}">{{ bootloader_name }}{{ item.output_bin }}</a> </td>
       <td> {{ item.desc }} </td>
    </tr>
    {% endfor %}
    {% endfor %}
  </table>

  <p>UEFI iPXE Bootloaders</p>

  <table style="width:100%">
    <!-- table header -->
    <tr>
       <th> Type </th>
       <th> Bootloader </th>
       <th> Description </th>
    </tr>
    <!-- table rows -->
    {% for bootloader_name in bootloader_disks %}
    {% for item in bootloaders.uefi %}
    <tr>
       <td> {{ item.type }} </td>
       <td> <a href="ipxe/{{ bootloader_name }}{{ item.output_bin }}">{{ bootloader_name }}{{ item.output_bin }}</a> </td>
       <td> {{ item.desc }} </td>
    </tr>
    {% endfor %}
    {% endfor %}
  </table>
  </div>
  </body>
</html>
