#!ipxe
### used for adding local variables before loading the menu

### set to enable enable github custom menu
#set github_user my_github_username

# If a DHCP proxy server is found and this variable is set to true, the tftp server provided by the DHCP proxy will be used instead of the tftp server provided by the root DHCP
# Please note that this variable is always read from the local-vars.ipxe onb the tftp server the root DHCP provided
# If the variable isn't present at runtime, the user will be queried to press a key to boot from the proxy DHCP prtovided ftfp server
#set use_proxydhcp_settings true

### Media Locations for Licensed Distros
#set rhel_base_url http://my_rhel_mirror/rhel/
#set win_base_url http://my_windows_mirror/windows/

### Sets the local live endpoint for the users local installation
#set live_endpoint http://my_ip_address:8080

### Sets the default boot timeout
#set boot_timeout 300000
