#!ipxe

# set site name
set site_name boot.netboot.xyz

# set boot domain
set boot_domain boot.netboot.xyz

# set mirror domain
set mirror mirror.rackspace.com

# set location of memdisk
set memdisk https://${boot_domain}/memdisk

# signature check enabled?
set sigs_enabled true

# image signatures check enabled?
set img_sigs_enabled true

# set location of signatures for sources
set sigs http://${boot_domain}/sigs/
