name: pull-requests

on:
  pull_request:
    branches:
      - development
      - RC
      - master

jobs:
  test-pr:
    name: Test Pull Request
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-python@v2

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ansible ansible-lint

    - name: Syntax Check
      run: |
        ansible-playbook -i inventory site.yml --syntax-check

    - name: Ansible lint
      run: |
        ansible-lint -v roles/netbootxyz

  build-pr:
    name: Build Pull Request
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-python@v2

    - name: Build PR release
      run: |
        ./script/build_release pr
